{% extends 'dashboard.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="card border-0 shadow-sm">
        <table class="table table-striped">
            <tr>
                <th>S.No</th>
                <th>Image</th>
                <th>Title</th>
                <th>Author</th>
                <th>Actions</th>
            </tr>
            {% for blog in blogs %}
            <tr>
                <td>{{forloop.counter}}</td>
                {% if blog.thumbnail %}
                <td>
                    <img src="{{ blog.thumbnail.url }}" width="50" class="rounded-circle">
                </td>
                {% endif %}
                <td>{{blog.title}}</td>
                <td>{{blog.author}}</td>
                <td>
                    <a href="{% url 'blog_edit' blog.id %}" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="{% url 'blog_delete' blog.id %}" class="text-white btn btn-danger" onclick="return confirm('Are you sure you want to delete this product?');"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}