{% extends 'dashboard.html' %}
{% load static %}
{% block content %}
<div class="py-4">
    <h1 class="text-center">Edit User</h1>
    <div class="row justify-content-center add-product">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            <div class="card shadow-sm p-4">
                
                <form method="POST">
                    {% csrf_token %}
                    <label>Username:</label><br>
                    <input type="text" name="username" class="form-control" value="{{ user.username }}" required><br>
                    
                    <label>Email:</label><br>
                    <input type="email" name="email" class="form-control" value="{{ user.email }}" required><br>

                    <label>Role:</label><br>
                    <select name="role" class="form-control">
                        <option value="">-- Select Role --</option>
                        <option value="Admin" {% if user_role == 'Admin' %}selected{% endif %}>Admin</option>
                        <option value="User" {% if user_role == 'User' %}selected{% endif %}>User</option>
                    </select><br>
                
                    
                    <button class="btn btn-success mt-3" type="submit">Update User</button>
                    <a href="{% url 'user' %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}